<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Der title erscheint im Browser Tab-->
    <title>N27 - About</title>
<!--Im Head werden allgemeine Einsteellungen zur Webside festgelgt-->
</head>
<!--Im Body steht der Inhalt der Webseite, also alles was im Browser angezeigt wird-->
<body>
    <!--Überschreift der Größe 1-->
    <h1>Über uns </h1>
    <h2>unsere E-Mail:</h2>
    kh154288@students.berufskolleg-borken.de
    <h2>unsere Adresse:</h2>
    Josefstraße 10,<br>

    46325 Borken<br>
    Deutschland
    <h2>unsere Bankleitzahl:</h2>
    <h3>IBAN  </h3>
    1234567890
    <h3>BIC</h3>
    GE738328
    <h2>Unternehmenname und Rechtsform</h2>

    

</body>
</html>
