<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Klausur02</title>
    </head>
    <body>
        <!--Hannah Klöpper-->

        <h1>Klausur Nr.2</h1>

        <h2>Vorbereitungen</h2>
        Hier könnte Ihr Text stehen

        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
        </table>

        <ol>
            <li>Punkt 1</li>
            <li>Punkt 2</li>
        </ol>
        
        <button type="button">Klick mich</button>

        <a href="https://berufskolleg-borken.de" target="_blank">Hier geht es zur Homepage des BKB</a>

        <hr>

    </body>

</html>