body {
    font-family: Arial, Helvetica, sans-serif;
     color:white;
     font-size: larger;
     font-weight: 500;
     background-color: lightblue;
     background-image: url(hintergrund1.png);
}

     ul {
        list-style: square inside url("icon2.png");
      }



